@model IEnumerable<BookStore.Models.Customer>
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>No customers yet</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Customer in Model)
            {
            <tr>
                <td>@Html.ActionLink(Customer.Name, "Detail", "Customers", new { id = Customer.Id }, null)</td>
                <td>@Html.ActionLink("Edit", "Edit", "Customers", new { id = Customer.Id }, null)</td>
                <td><button data-customer-id="@Customer.Id" class="btn-link js-delete">Delete</button></td>
            </tr>
            }
        </tbody>
        
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable();

            $("#customers").on("click",".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure to want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }

                        });
                    }
                });

            });
        });
    </script>

}
